@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Mulish:wght@600;700&display=swap');

:root{
    --h-color: #3579F4;
    --white-color: hsl(0, 0%, 100%);
    --base-color: hsl(245, 33%, 13%);
    --contact: #3579f4;
    --form: #5591ff;
    --button: #F0F0FA;
    --button-text: #8C8C8C;
    font-size: 62.5%;
    font-family: serif;
    left: 28px;
    min-width: 375px;
    max-width: 1300px;
}

.message{
    display: block;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    background-color: var(--form);
    border-radius: 1rem;
    border: 10rem;
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

a{
    text-decoration: none;
    color: var(--a-color);
}

.color{
    color: var(--white-color);
    font-size: 1.6rem;
    line-height: 2rem;
}

.garag{
    width: 100%;
}

input, ::placeholder{
    color: var(--white-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    min-width: 78%;
}

.check{
    min-width: 1rem;
    margin-right: 3rem;
}

.name{
    display: block;
    padding: 2rem;
    padding-left: 3rem;
    background-color: var(--form);
    border-radius: 1rem;
    border: 10rem;
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h1{
    font-family: 'Mulish', sans-serif;
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--base-color);
    width: 23.7rem;
    height: 4.2rem;
    left: 2.7rem;
    top: 13.5rem;
    line-height: 4.2rem;
    
    margin-left: 3rem;
    margin-right: 3rem;
}

h2{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    color: var(--base-color);
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

h3{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--h-color);
    line-height: 2.8rem;
    margin-top: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#services{
    font-size: 3.4rem;
    line-height: 4.3rem;
}

hr{
    border: 0.3rem solid #3579F4;
    border-radius: 1rem;
    background-color: #3579F4;
    margin-left: 3rem;
    margin-right: 3rem;
}

div{
    border:1rem;
    border-radius: 1rem;
}

.flex-div{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: var(--base-color);
    border-start-end-radius: 5rem;
    border-start-start-radius: 5rem;
    margin-top: -5rem;
}

footer>div>div>div>p{
    font-weight: 500;
    font-size:2.2rem;
    color: var(--white-color);
    margin-bottom: 0;
    margin: auto;
    margin-top: 2rem;
}

.p-flex{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 18rem;
}

.footmenu{
    color:var(--white-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}

footer>div>ul>li>a{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.contact{
    background-color: var(--contact);
    padding: 1rem;
    border-start-end-radius: 5rem;
    border-start-start-radius: 5rem;
    padding-bottom: 10rem;
}

.option{
    margin-bottom: 10rem;
}

.img-foot{
    width: 23.5rem;
    height: 6.7rem;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.marg{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    margin-top: 8.7rem;
    margin-bottom: 3rem;
}

.img-sec2{
    width: 90%;
    max-width: 70.5rem;
    margin: 3rem;
}

.ss{
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    margin-left: 3rem;
    font-weight: 600;
    color: var(--h-color);
    line-height: 22px;
}

.spisok{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    width: 90%;
    margin: 0;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--base-color);
    line-height: 2.4rem;

    margin-left: 3rem;
    margin-right: 3rem;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

section>ul>li>a{
    font-family: 'Mulish', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    display: block;
    box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.1);
    border: 4rem;
    border-radius: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.a-ft{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding: 4rem;
}


.flex{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
}

.flex-foot{ 
    display: flex;
    flex-direction: column;
}

.menu-img{
    display: none;
}

.menu-nav{
    display: none;
}

.img-boat{
    width: 100%;
    margin-bottom: 5rem;
}

.img-rectagle{
    width: 90%;
    height: 9rem;
}

.boats{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr;
    width: 100%;
    margin: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.serv{
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
}

.button-send{
    display: block;
    border-color: var(--button);
    background-color: var(--button);
    width: 90%;
    height: 8rem;
    border-radius: 1rem;
    margin: auto;
    color: var(--button-text);
    font-family: 'Intel', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.police{
    color: var(--white-color);
    font-size: 1.6rem;
}

.nik{
    color: hsla(0, 0%, 100%, 0.4);
    font-size: 1.4rem;
    width: 30rem;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
}

@media all and (min-width: 700px){
    .menu-nav{
        display: initial;        
    }
    p{
        max-width: 35rem;
    }
    .menu-but{
        display: none;
        background-color: var(--white-color);
    }
    .menu-head{
        display: flex;
        gap: 3rem;
    }
    .boats{
        max-width: 43rem;
    }
    br{
        display: none;
    }
    .menu-img{
        display: flex;
        gap: 1rem;
    }
    .a-ft {
        padding: 5rem;
        margin: 2rem;
    }
}

@media all and (min-width: 1000px)
{
    h3{
        margin-right: 0;
        width: 30rem;
    }
    .flex-div{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    section>ul>li>a{
        width: 100%;
    }
    .a-ft{
        padding: 2rem;
    }
    hr{
        height: 1px;
        margin-left: 2rem;
        margin-top: 4rem;
    }
    .hr1{
        width: 74%;
    }
    .hr2{
        width: 91%;
    }
    .hr3{
        width: 111%;
    }
    br{
        display: initial;
    }
    .flex-foot{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .serv{
        flex-direction: row;
        justify-content: space-between;
    }
    .footmenu{
        margin-top: 7.5rem;
        align-items: flex-start;
        height: 30rem;
    }
    .img-foot{
        margin-left: 10%;
        margin-top: 5.5rem;
        margin-right: 0;
        width: 27.2rem;
        height: 7.755rem;
        margin-right: 10rem;
    }
    .p-flex{
        display: flex;
        align-items: flex-start;
        margin-right: 6rem;
    }
    .marg{
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 7.5rem;
    }
    .nik{
        margin-left: 10%;
    }

    .boats{
        grid-template-columns: 33% 33% 33%;
    }

}