@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Mulish:wght@600;700&display=swap');

:root{
    --h-color: hsl(219, 90%, 58%);
    --white-color: hsl(0, 0%, 100%);
    --base-color: hsl(245, 33%, 13%);
    --contact: hsl(219, 100%, 67%);
    font-size: 62.5%;
    font-family: serif;
    left: 28px;
}

a{
    text-decoration: none;
    color: var(--a-color);
}

h1{
    font-family: 'Mulish', sans-serif;
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--base-color);
    width: 23.7rem;
    height: 4.2rem;
    left: 2.7rem;
    top: 13.5rem;
    line-height: 4.2rem;;
}

h2{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    color: var(--base-color);
}

h3{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--h-color);
    line-height: 2.8rem;
}

#services{
    font-size: 3.4rem;
    line-height: 4.3rem;
}

hr{
    border: 0.3rem solid #3579F4;
}

div{
    border:1rem;
    border-radius: 1rem;
}

footer{
    background-color: var(--base-color);
}

.footmenu{
    color:var(--white-color);
}

.contact{
    background-color: var(--contact);
}

.ss{
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--h-color);
    line-height: 22px;
}

.spisok{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--base-color);
    line-height: 2.4rem;
}

div>ul>li>a{
    font-family: 'Mulish', sans-serif;
    font-size: 2.2rem;
    line-height: 11rem;
    text-align: center;
    color: rgb(0, 0, 0);
    
    display: block;
    width: 35.2rem;
    height: 10rem;
    background: #FFFFFF;
    box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 3.2rem;
}

ul{
    list-style-type: none;
}
